@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100vh;
  width: 100vw;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
}
.section_banner {
  height: 100vh;
  background: url('./assets/20251948_6227820.webp');
  background-size: cover;
  background-position: center;
  object-fit: cover;
}
.stacks_page {
  height: 350px;
  background-color: #1e293b;
}
.projects_page {
  background-color: #334155;
  display: flex;
  justify-content: center;
}
.about_me_page {
  background-color: #1e293b;
}
.aboutMe-bg {
  background-image: url('./assets/20251948_6227820.webp');
  position: center;
  object-fit: cover;
  background-size: contain;
  height: 350px;
}

.contact_me_page {
  background-color: #334155;
}
.footer {
  background-color: #1e293b;
}

/* :root {
  --background-color: #e4e4e7;
  --text-color: black !important;
  --background-image: none;
} */

/* [data-theme='dark'] {
  --background-color: #000;
  --text-color: white !important;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
} */

.name {
  font-size: 3rem !important;
  line-height: 4rem !important;
  font-weight: 500;
}

/* button */
.button {
  display: inline-block;
  padding: 12px 24px;
  border: 1px solid #4f4f4f;
  border-radius: 4px;
  transition: all 0.2s ease-in;
  position: relative;
  overflow: hidden;
  font-size: 19px;
  cursor: pointer;
  color: black;
  z-index: 1;
}

.button:before {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%) scaleY(1) scaleX(1.25);
  top: 100%;
  width: 140%;
  height: 180%;
  background-color: #18181b;
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.button:after {
  content: '';
  position: absolute;
  left: 55%;
  transform: translateX(-50%) scaleY(1) scaleX(1.45);
  top: 180%;
  width: 160%;
  height: 190%;
  background-color: #18181b;
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.button:hover {
  color: #ffffff;
  border: 1px solid #18181b;
}

.button:hover:before {
  top: -35%;
  background-color: #18181b;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.button:hover:after {
  top: -45%;
  background-color: #18181b;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

/* bg-amber-600 */

/* TOGGLE LIGHT DARK MODE */
.checkbox {
  opacity: 0;
  position: absolute;
}

.checkbox-label {
  background-color: #111;
  width: 50px;
  height: 26px;
  border-radius: 50px;
  position: relative;
  padding: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fa-moon {
  color: #f1c40f;
}

.fa-sun {
  color: #f39c12;
}

.checkbox-label .ball {
  background-color: #fff;
  width: 22px;
  height: 22px;
  position: absolute;
  left: 2px;
  top: 2px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

.checkbox:checked + .checkbox-label .ball {
  transform: translateX(24px);
}

.list-item {
  cursor: pointer;
  position: relative;
  border: none;
  background: none;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: color;
}

.list-item:focus,
.list-item:hover {
  color: #fff;
}

.list-item:focus:after,
.list-item:hover:after {
  width: 100%;
  left: 0%;
}

.list-item:after {
  content: '';
  pointer-events: none;
  bottom: -2px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: #fff;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: width, left;
}
